{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>UDPATE CAR DETAILS</title>
{% endblock %}


{% block content %}
<div class="container" style="background-color: #112e46; padding: 2px 20px; margin: 0px auto; color: white;">
    <h1 style="text-align: center;">Car Update Application Form</h1>
    <form method="post">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-outline-light col-5">UPDATE NOW</button>
        <a href="{% url 'show_details' %}"><button type="button" class="btn btn-outline-light col-5 float-end">CANCEL
                NOW</button></a>
    </form>
</div>
{% endblock %}